* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
.banner
{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(img/background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar 
{
    width: 85%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar nav
{
    padding: 50px 0;
}
.logo
{
    width: 170px;
    cursor: pointer;
}
.navbar ul li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a
{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after
{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}
.navbar ul li:hover::after
{
    width: 100%;
}
.btn
{
    color: #000000;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 22px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .2s ease-in-out;
    background-size: 152% 100%;
    background: #009688;
    border: 2px solid #009688;
    position: relative;
}
.btn:hover
{
    background: transparent;
    border-color: #ffffff;
    color: #ffffff;
}
.content
{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1
{
    font-size: 70px;
    margin-top: 80px;
}
.content p
{
    font-size: 20px;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button
{
    width: 200px;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 15px 0px;
    border-radius: 500px;
    display: inline-block;
    font-weight: bold;
    transition: all .2s ease-in-out;
    background-size: 152% 100%;
    background: transparent;
    border: 2px solid #009688;
    position: relative;
}
button:hover
{
    background: #009688;
    border-color: #009688;
    color: #ffffff;
}
.blog_section .About-us
{
    font-size: 70px;
    margin-top: 80px;
}

.blog_section {
    background: linear-gradient(#009688,rgba(0, 0, 0, 0.75));
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .blog_section h1
{
    font-size: 70px;
    margin-top: 80px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #ffffff;
}
  .blog_section .blog_content .blog_item {
    margin-bottom: 20px;
    box-shadow: 0 0 20px 0 rgba(0.14, 0.14, 0.14, 0.14);
    position: relative;
    border-radius: 2px;
    overflow: hidden;
  }
  .blog_section .blog_content .blog_item:hover .blog_image img {
    transform: scale(1.1);
  }
  .blog_section .blog_content .blog_item .blog_image {
    overflow: hidden;
    padding: 0;
  }
  .blog_section .blog_content .blog_item .blog_image img {
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }
  .blog_section .blog_content .blog_item .blog_image span i {
    position: absolute;
    z-index: 2;
    color: #fff;
    font-size: 10px;
    width: 30px;
    height: 35px;
    padding-top: 7px;
    text-align: center;
    right: 20px;
    top: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 79%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 79%, 0 100%);
    background-color: #ffffff;
  }
  .blog_section .blog_content .blog_item .blog_details {
    padding: 25px 20px 30px 20px;
  }
  .blog_section .blog_content .blog_item .blog_details .blog_title h5 a {
    color: #020d26;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 32px;
    font-weight: 400;
    transition: all 0.3s;
    text-decoration: none;
  }
  .blog_section .blog_content .blog_item .blog_details .blog_title h5 a:hover {
    color: #ffffff;
  }
  .blog_section .blog_content .blog_item .blog_details ul {
    padding: 0 3px 10px 0;
    margin: 0;
  }
  .blog_section .blog_content .blog_item .blog_details ul li {
    display: inline-block;
    padding-right: 15px;
    position: relative;
    color: #ffffff;
  }
  .blog_section .blog_content .blog_item .blog_details ul li i {
    padding-right: 7px;
  }
  .blog_section .blog_content .blog_item .blog_details p {
    border-top: 1px solid #e5e5e5;
    margin-top: 4px;
    padding: 20px 0 4px;
  }
  .blog_section .blog_content .blog_item .blog_details a {
    font-size: 16px;
    display: inline-block;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s;
  }
  .blog_section .blog_content .blog_item .blog_details a:hover {
    color: #020d26;
  }
  .blog_section .blog_content .blog_item .blog_details a i {
    vertical-align: middle;
    font-size: 20px;
  }
  .blog_section .blog_content .owl-nav {
    display: block;
  }
  .blog_section .blog_content .owl-nav .owl-prev {
    position: absolute;
    left: -27px;
    top: 33%;
    border: 5px solid #fff;
    text-align: center;
    z-index: 5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: 0;
    background: #ffffff;
    transition: all 0.3s;
    color: #009688;
  }
  .blog_section .blog_content .owl-nav .owl-prev span {
    font-size: 25px;
    margin-top: -6px;
    display: inline-block;
  }
  .blog_section .blog_content .owl-nav .owl-prev:hover {
    background: #fff;
    border-color: #009688;
    color: #009688;
  }
  .blog_section .blog_content .owl-nav .owl-next {
    position: absolute;
    right: -27px;
    top: 33%;
    border: 5px solid #fff;
    text-align: center;
    z-index: 5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: 0;
    background: #ffffff;
    color: #009688;
    transition: all 0.3s;
  }
  .blog_section .blog_content .owl-nav .owl-next span {
    font-size: 25px;
    margin-top: -6px;
    display: inline-block;
  }
  .blog_section .blog_content .owl-nav .owl-next:hover {
    background: rgb(255, 255, 255);
    border-color: #009688;
    color: #009688;
  }
  
  @media only screen and (max-width: 577px) {
    .blog_section .owl-nav .owl-prev {
      left: -17px !important;
    }
    .blog_section .owl-nav .owl-next {
      right: -17px !important;
    }
  }

footer {
    position: relative;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: fixed;
    }
}

.footer-distributed {
    background-color: #000000;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top:0;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie';
    margin: 0;
}


.footer-distributed h3 span {
    color: #009688;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #009688;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #009688;
}

.footer-links a:hover {
    color: #009688;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}  